/*Color Palette*/
:root{
    --dark-blue: #1a2238;
    --off-white: rgba(255, 255, 255, 0.692);
    --orange: #ff6a3d;
    --gray: #5e5f7a;
}
html{
    /* height: 300vh;  */
    scroll-behavior:smooth;
}
body{
    font-family:Ubuntu, sans-serif;
    background-color:var(--off-white);
    position: relative;
    height: 100%;
}
.navbar-dark{
    background-color:var(--dark-blue) !important;
}
nav, .nav-link{
    color:rgba(255, 255, 255, 0.692) !important;
}
.nav-link:active{
    color: var(--orange);
}
.navbar-brand:hover, .nav-link:hover, .navbar-toggler-icon:hover{
    color:var(--orange) !important;
    transform: scale(1.05); 
}
a, a:hover, a:visited{
    color:unset;
    text-decoration:inherit;
}
a.active{
    color: var(--orange) !important;
}
em{
    color:var(--orange);
    font-weight: bolder;
}
em:hover{
    text-decoration: underline;
}
h1 em:hover{
    font-size: 70px;
}
h2 em:hover{
    font-size: 40px;
}
h1{
    font-size: 60px;
}
h4{
    color:var(--gray);
}
.media-link{
    color: var(--gray);
    font-size: 75px;
}
.media-link:hover{
    color: var(--orange);
    transform: scale(1.1); 
}
.contact-icon{
    color:var(--gray);
    font-size:25px;
    text-decoration: bold;
}
.contact-icon-text{
    color:var(--gray);
    font-size: 20px;
    text-decoration: bold;
}
#about,#skills,#projects,#education{
    height: 100vh;
}
i:hover, p:hover{
    color: inherit;
}
/* a:hover{
    color: var(--orange);
} */
.skill-icon{
    font-size: 50px;
}
.skill-text{
    font-size: 50px;
}
#skills-header, #projects-header, #education-header{
    /* margin-top: 100px; */
    margin-bottom: 50px;
}
.skill{
    flex-basis: 50%;
    margin-top: 10px;
    padding: .1em;
}
.card{
    border: 10px solid lightgray;
}
.education-name{
    position: relative;
    right: 130px;
}
.width-500{
    width: 500px;
}
.card:hover{
    transform: scale(1.1); 
}