body{
    font-family:Ubuntu, sans-serif;
    background-color: #e5e5e5;
}
.navbar-dark{
    background-color:#1a2238 !important;
}
nav, .nav-link{
    color:rgba(255, 255, 255, 0.692) !important;
}
.navbar-brand:hover, .nav-link:hover, .navbar-toggler-icon:hover{
    color:#ff6a3d !important;
}
a, a:hover, a:visited, a:active{
    color:inherit;
    text-decoration:inherit;
}
em{
    color:#ff6a3d;
    font-weight: bolder;
}
